:root{
  --sm_font:0.7rem;
 --primary:#c6a987 ;
 --secondary:;
 --accent:#63402c;
 --text:#301f17;
 --alt-text:#8f664a;
 --container_padding:20px;
 --faded_border:#ac8764;
 --blur_background:rgba(0, 0, 0, .6);
 --border_radius:8px;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: var(--primary);
}
a{
  color: inherit;
  text-decoration: none;
}
main{
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  position: relative;
  color: var(--text) ;
  background: var(--primary);
  overflow-x: hidden;
}
/*REUSABLE CLASSES*/
 .container{
  padding: 30px var(--container_padding) ;
 }
 .container_left{
  padding-left:var(--container_padding);
 }
button,input{
  border: none;
  outline: none;
}
input{
 background: inherit;
 color: inherit;
}
.flex{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
/*  object-position: top;*/
}
.none{
  display: none;
}

.title{
 font-family: sans-serif; 
}
.no_scroll::-webkit-scrollbar{
  display: none;
}
.border{
  position: relative;

}

.rankings_container::before,
.border::after{
  content: '';
  position: absolute;
  width: 100%;
  height: .007rem;
  background: var(--faded_border);
}
.rankings_container::before{
  top: 0;
}
.border::after{
  bottom: 0;
}

.d_grid{
    overflow: auto;
   display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.pointer{
  cursor: pointer;
}
/*HEADER  */

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.scroll_progress{
  position: absolute;
  background: linear-gradient(170deg, var(--primary),var(--accent),chocolate);
  height: 4px;
  border-radius: 50%;

}
.nav{
  justify-content: space-between ;
  padding-inline: var(--container_padding);
  align-items: center;
  transform: scale(1);
  opacity: 1;
  transition: opacity .3s;
}
.nav_hidden{
  opacity: 0;
  transform: scale(0);
}
.nav_hidden ~ .scroll_progress{
  top: 0;
}
.logo{
  width: 50px;
  aspect-ratio: 1/1;
}
.c_t_a_top{
  position: absolute;
  top: 50% ;
  left: 10px;
   transform: scale(1);
  opacity: 1;
  transition: opacity .3s;
}


/*HEADERJS*/
.header.active{
background: rgba(0, 0, 0, .2);
}
.header.active .c_t_a_top{
 opacity:0;
 transform: scale(1.0);
}


/*PROFILE*/
.profile_content{
  flex-direction: column;
}
.logo_image{
overflow: hidden;
height: 100%;
max-height: 40vh;
}
.logo_image img{

}
.name{
  justify-content:flex-start;
  gap: 20px;
}
.name_title>p{
  text-transform: capitalize;
  margin-block: 5px;
  font-size: .8rem;
  color: var(--alt-text);
  font-weight: 200;
  letter-spacing: 2px;
}
.profile_image{
  width: clamp(100px, 20vw, 10rem);
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  background: red;
}
.profile_left{
  flex-direction: column;
  justify-content: space-around;
}
.buttons{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.c_t_a{
  padding: 5px 11px;
  border-radius: 10px;
  background: var(--accent);
  color: var(--primary);
  font-weight: 600;
  font-family: cursive;
  letter-spacing: 2px;
/*  box-shadow: 1px 1px 1px beige;*/

}
.phone{
  color: var(--accent);
}
.rankings{
  overflow: auto;
  justify-content: space-between;
}

.rankings li{
  padding: 10px 40px;
  position: relative;
 display: grid;
 place-items: center;
}
.rankings li::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  right:0;
  background: var(--faded_border);
}
.rankings li:last-child::after{
  display: none;
}

.rankings li >p{
  font-size:var(--sm_font) ;
  text-transform: uppercase;
}



.rankings li >h4{

}

/*ABOUT*/
.about_content{
  padding-block: var(--container_padding);

}
.about_title{

}

.about_subtitle{
  margin-block: 8px;
  color: var(--alt-text);
  font-size: var(--sm_font);
}
.about_desc{
  position: relative;
}

.about_desc_content{
  font-family: monospace;
  line-height: 20px;
}
.about_desc p{
  margin-bottom: 8px;
}
.more{
  color: var(--accent);
  align-self: flex-end;
  cursor: pointer;
}
.about_desc_content.truncate{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient:vertical;
  overflow: hidden;
}
/*PREVIEW*/

.preview_slide{
  gap: 20px;
  width: 100%;
  padding-bottom: var(--container_padding);
 
/*  justify-content: space-between;*/
}
.preview_slide li{
  background: var(--alt-text);
  width: clamp(8rem, 40vw, 20rem);  
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
}


/*REVIEWS*/
.review_slide{

  gap: 10px;
}
.review_slide li{
  background: var(--faded_border);
  border-radius: 10px;
  padding: 15px;
  width: 80vw;
  max-width:  40rem;
  max-height: 15rem;
  overflow: auto;
}
.stars i{
  color: var(--primary);
}
.stars i.active{
  color: rgba(200, 160, 10, 1.0);
}
.review_slide_head{
  margin-bottom: 7px;
}


.open_write_review{
  gap: 6px;
  justify-content: flex-end;
}



/*SERVICES*/
.service_content{
  padding-bottom: var(--container_padding);
}
.services_tools_list{
  align-items: center;
  justify-content: space-around;
  margin: var(--container_padding) auto;
  max-width: 40rem;
}

.services_list-items{
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}
/*.service_content_sec1 p{
  text-align: left;

}*/
.service_content_sec2{
  background: var(--faded_border);
 
  margin-block: var(--container_padding);
  border-radius: 8px;
  padding: var(--container_padding);
}
.services_tools_head{
  text-align: center;
}


  /* CONTACT */
.contact{
 transform: scale(0);
 opacity: 0;
  position: fixed;
  width: 100%;
  inset: 0;
  color: var(--text);
  background:var(--blur_background);
  transition-delay:  .5s;
}
.contact.contact_active{
  opacity: 1;
  transform: scale(1.0);
  transition-delay: -.5s;
}
.contact_container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  background: var(--primary);

  border-radius: 15px 15px 0 0;
   transform: translateY(100%);
   transition: transform .25s ease;
}
.contact_content{
  flex-direction: column;
  height: 100%;
  position: relative;
}
.contact_title{

  text-transform: uppercase;
}
.contact_list_container{
  width: 50%;
}
.contact_list_container h5{
  text-align: center;
  margin-block: 10px;
}
.contact_content_sec1{
  width: 50%;
  display: grid;
  align-items: center;
  height: 100%;
}
.contact_content_sec1 h2{
   text-align: right;
   font-size: 1.8rem;
/*   font-family: cursive;*/
}
.contact_info_list a{
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
}
.contact_info_list a i{

 
 font-size: 1.1rem;

}
.contact_image{
  position: absolute;
  right: 0;
  top: 0;
  width: 48%;
  height: 60%;

}
.contact_image::before{
  position: absolute;
  content: '';
  width: 105%;
  aspect-ratio: 1/1;
  border: 1px dashed var(--accent);
  left: -.6rem;
  bottom: -.6rem;
  border-right: none;
  border-top: none;

}


.contact_active > .contact_container{
   transform: translateY(0);


}

/*WRITEREVIEW*/
.write_review{
  position: fixed;
  inset: 0;
  background: var(--blur_background);
  display: grid;
 place-items: center;
  opacity: 0;
  transform: scale(0);
}
.write_review_active{
opacity: 1;
transform: scale(1.0);
}
.write_review_container{
  width: 80vw;
  max-width: 20rem;
  background: var(--faded_border);
  border-radius: var(--border_radius);
  position: relative;
}

.review_stars{
  font-size: 2rem;
}
.review_form{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.review_form label{
  padding: 8px;
  text-align: left;
}
.review_form label::after{
  left: 0;
  background: var(--primary);
}
.review_form label span{
  margin-right: 8px;
}
.review_name{
  text-transform: capitalize;
  height: 20%;
}

.review_message{
  height: 50%;
  max-height:100px ;
  overflow: auto;
  border: none;
  outline: none;
  padding: 8px;
}

.review_form_submit{
  margin-block: 10px;
}
.cancel_write_review{
  position: absolute;
  top: 5px;
   right:5px;
   color: var(--primary);
   font-size: 2rem;
}
.write_review_content{
  position: relative;
   text-align: center;
}
::-webkit-scrollbar{
  width: 2px;
  background: var(--primary);
}
::-webkit-scrollbar-thumb{
  background: var(--accent);
}

@media (min-width:700px){
  main{
    display: none;
  }
}